<div class="navbar-header">
  <div class="navbar-logo d-flex justify-content-center">
    <a href="#">
      <img src="assets/img/logo.png" alt="">
    </a>
  </div>
  <div class="nav-right">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-end">

        <div class="notification">
          <span class="ti-bell"></span>
        </div>
        <div class="notification">
          <span class="ti-email"></span>
        </div>

        <div class="user-profile">
          <img class="rounded" src="assets/img/user.png" alt="" srcset="">
          <div class="dropdown">
            <button class="dropbtn">Felipe Gerolomo
              <span class="ti-angle-down" style="font-size: 10px;
              margin-left: 10px;"></span>
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>