<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form action="">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="tipoCliente">Escolha o Cliente</label>
            <select id="tipoCliente" class="form-control">
              <option selected>Escolha...</option>
              <option>Cliente Balcão</option>
              <option>Cliente Telefone</option>
            </select>
          </div>
          <div class="form-group col-md-8">
            <label for="nomeCliente">Nome Cliente</label>
            <input type="text" class="form-control" placeholder="Ex: Maria Silva">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>