<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <div class="text-card-item">
            <p class="text-center">Cachorrão de Calabresa</p>
          </div>
        </div>
        <div class="card-body">
          <div class="img-item">
            <img class="text-center" src="assets/img/hamburger.png" alt="">
          </div>
        </div>
        <div class="card-footer">
          <div class="text-card-item">
            <p class="text-center">R$ 10,00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>