<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 item" *ngFor="let item of itens" (click)="this.cartService.getItem(item)">
      <div class="card">
        <div class="card-header">
          <div class="text-card-item">
            <p class="text-center">{{item.NOME_ITEM}}</p>
          </div>
        </div>
        <div class="card-body card-body-item">
          <div class="img-item text-center">
            <img class="" src="assets/img/hamburger.png" alt="">
          </div>
        </div>
        <div class="card-footer">
          <div class="text-card-item">
            <p class="text-center">R$ {{item.VALOR}},00</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-2 item">
      <div class="card">
        <div class="card-header">
          <div class="text-card-item">
            <p class="text-center">Cachorrão de Calabresa</p>
          </div>
        </div>
        <div class="card-body card-body-item">
          <div class="img-item text-center">
            <img class="" src="assets/img/hamburger.png" alt="">
          </div>
        </div>
        <div class="card-footer">
          <div class="text-card-item">
            <p class="text-center">R$ 10,00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 item">
      <div class="card">
        <div class="card-header">
          <div class="text-card-item">
            <p class="text-center">Cachorrão de Calabresa</p>
          </div>
        </div>
        <div class="card-body card-body-item">
          <div class="img-item text-center">
            <img class="" src="assets/img/hamburger.png" alt="">
          </div>
        </div>
        <div class="card-footer">
          <div class="text-card-item">
            <p class="text-center">R$ 10,00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 item">
      <div class="card">
        <div class="card-header">
          <div class="text-card-item">
            <p class="text-center">Cachorrão de Calabresa</p>
          </div>
        </div>
        <div class="card-body card-body-item">
          <div class="img-item text-center">
            <img class="" src="assets/img/hamburger.png" alt="">
          </div>
        </div>
        <div class="card-footer">
          <div class="text-card-item">
            <p class="text-center">R$ 10,00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 item">
      <div class="card">
        <div class="card-header">
          <div class="text-card-item">
            <p class="text-center">Cachorrão de Calabresa</p>
          </div>
        </div>
        <div class="card-body card-body-item">
          <div class="img-item text-center">
            <img class="" src="assets/img/hamburger.png" alt="">
          </div>
        </div>
        <div class="card-footer">
          <div class="text-card-item">
            <p class="text-center">R$ 10,00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 item">
      <div class="card">
        <div class="card-header">
          <div class="text-card-item">
            <p class="text-center">Cachorrão de Calabresa</p>
          </div>
        </div>
        <div class="card-body card-body-item">
          <div class="img-item text-center">
            <img class="" src="assets/img/hamburger.png" alt="">
          </div>
        </div>
        <div class="card-footer">
          <div class="text-card-item">
            <p class="text-center">R$ 10,00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 item">
      <div class="card">
        <div class="card-header">
          <div class="text-card-item">
            <p class="text-center">Cachorrão de Calabresa</p>
          </div>
        </div>
        <div class="card-body card-body-item">
          <div class="img-item text-center">
            <img class="" src="assets/img/hamburger.png" alt="">
          </div>
        </div>
        <div class="card-footer">
          <div class="text-card-item">
            <p class="text-center">R$ 10,00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 item">
      <div class="card">
        <div class="card-header">
          <div class="text-card-item">
            <p class="text-center">Cachorrão de Calabresa</p>
          </div>
        </div>
        <div class="card-body card-body-item">
          <div class="img-item text-center">
            <img class="" src="assets/img/hamburger.png" alt="">
          </div>
        </div>
        <div class="card-footer">
          <div class="text-card-item">
            <p class="text-center">R$ 10,00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 item">
      <div class="card">
        <div class="card-header">
          <div class="text-card-item">
            <p class="text-center">Cachorrão de Calabresa</p>
          </div>
        </div>
        <div class="card-body card-body-item">
          <div class="img-item text-center">
            <img class="" src="assets/img/hamburger.png" alt="">
          </div>
        </div>
        <div class="card-footer">
          <div class="text-card-item">
            <p class="text-center">R$ 10,00</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 item">
      <div class="card">
        <div class="card-header">
          <div class="text-card-item">
            <p class="text-center">Cachorrão de Calabresa</p>
          </div>
        </div>
        <div class="card-body card-body-item">
          <div class="img-item text-center">
            <img class="" src="assets/img/hamburger.png" alt="">
          </div>
        </div>
        <div class="card-footer">
          <div class="text-card-item">
            <p class="text-center">R$ 10,00</p>
          </div>
        </div>
      </div>
    </div> -->



  </div>
</div>