<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-cart">
        <div class="card-header">
          <app-cart-cliente-information></app-cart-cliente-information>
        </div>
        <div class="card-body">
          <app-card-cart></app-card-cart>
        </div>
        <div class="card-footer">
          <app-cart-conclusao></app-cart-conclusao>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <app-filtro-card-itens></app-filtro-card-itens>
        </div>
        <div class="card-body">
          <app-grid-itens></app-grid-itens>
        </div>
      </div>
    </div>
  </div>
</div>